.button-container, #qr ,#bitAddress ,#instruction, #content, #form, .btcDisplay{
    display: flex;
    align-content: center;
    justify-content: center;
   
}

.button-container{
    margin-top:10px;
}

#form , #payment {
width: 100%
}

#form, h2{text-align:center;}


.progress-bar{
    background-color:limegreen;
    color: mintcream;
    font-size: 18px;
    padding-top: 5px;}

.btcDisplay{
    margin:10px;
}

#bitAddress, #totalPrice {
    width: 60%;
    margin-left: 5px;
    margin-right: 5px;
}

.btcDisplay-wrapper{
    margin-bottom:40px;
}




